.buttons {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c4b26a; 
    padding: 8px 0; 
    z-index: 1000; 
}

.buttons button {
    margin: 1px; 
}
